.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App {
   background-color: #1b213b;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}
a {
   text-decoration: none;
   color: #61dafb;
}
li {
   list-style: none;
}
/* navbar */
.navbar ul {
   display: flex;
   width: 20em;
   justify-content: space-around;
}
/* chart-donut */
/* .apexcharts-legend-series span {
   color: aliceblue !important;
} */

.chart-container {
   display: flex;
   flex-flow: wrap;
   align-items: center;
   justify-content: center;
   padding: 0 2.5em;
   gap: 2em;
}
.graphic-box {
   background-color: #262d47;
   border-radius: 15px;
   width: 500px;
   display: flex;
   height: 350px;
   align-items: center;
   justify-content: center;
}
/* codepen */
tspan {
   fill: #ffffff;
}
.apexcharts-legend-series span {
   color: #ffffff !important;
}
.apexcharts-menu {
   background-color: #262d47 !important;
   border-radius: 15px;
}

.apexcharts-menu-item {
   color: #ffffff;
}

.apexcharts-menu-item:hover {
   background-color: #5768a4 !important;
}

.apexcharts-series path {
   fill: #ff9d00c3 !important;
}
@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
